body{
    font-family: "Gilroy SemiBold";
}

@font-face {
    font-family: "Gilroy Regular";
    src: url('../public/font/Gilroy-Regular.ttf');
}
@font-face {
    font-family: "Gilroy Light";
    src: url('../public/font/Gilroy-Light.ttf');
}
@font-face {
    font-family: "Gilroy Medium";
    src: url('../public/font/Gilroy-Medium.ttf');
}
@font-face {
    font-family: "Gilroy SemiBold";
    src: url('../public/font/Gilroy-SemiBold.ttf');
}
